@model SchoolProj.Models.Comment

<div class="comment-block">
    <div class="comment-text">@Model.CommentText</div>
    <div class="comment-user">@Model.UsersName</div>
    <div class="comment-date">@Model.CreationDate.ToString("g")</div>
</div>