@model SchoolProj.Models.Course

<div class="col-md-4">
    <div class="card mb-4 shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
             xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
             role="img">
            <rect width="100%" height="100%" fill="#003B7A"/>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">@Model.Name</text>
        </svg>
        <div class="card-body">
            <p class="card-text">@Model.Description</p>
            <div class="d-flex justify-content-between align-items-center">
                <a class="btn btn-outline-primary btn-sm" href="#">Подробнее</a>
                <small class="text-muted">@Model.NumberOfStudents участников</small>
            </div>
        </div>
        <ul>
            <li>Информатика</li>
            <li>Программирование</li>
        </ul>
    </div>
</div>