.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
}

footer p {
  margin-bottom: .25rem;
}

.bbt-icon {
  width: auto;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.simple-border {
  border: 1px solid rgba(0,0,0,.125);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.my-card {
  width: 100%;
  height: 225px;
  background-color: #003B7A;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-card-placeholder {
  color: #eceeef;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
}

.jumbotron .container-course {
  max-width: 60rem;
  text-align: center;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.course-block {
  padding-bottom: 3rem;
  padding-top: 3rem;
  text-align: center;
  background-color: #f8f9fa !important;
}

.course-card {
  background-color: #fff;
  max-width: 60rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  margin-bottom: 3rem;
}

.course-description {
  width: 100%;
  background-color: #003B7A;
  color: #fff;
  padding: 1.25rem;
}

.course-content-info {
  padding: 1.25rem;
}

.course-comments {
  background-color: #fff;
  max-width: 60rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  padding: 1.25rem;
}

.popular-head {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: .5rem;
  line-height: 1.2;
}

.popular-subject {
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 0.5rem;
  padding-top: 0.1rem;
  text-align: center;
}

.popular-card {
  background-color: #ffd700;
}

.popular-placeholder {
  color: #fff;
}

.comment-block {
  width: 100%;
  margin-top: 1rem;
  padding-left: 0.5rem;
  border-left: 2px solid #003B7A;
}

.comment-user {
  float: left;
  margin-right: 0.5rem;
}

.comment-user:after {
  content: ',';
}

.add-comment-form > textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100px;
  min-height: 100px;
  padding: 3px 7px;
}

.participants {
  text-align: right;
}

.signin-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background-color: #f8f9fa!important;
}

.signin-form .checkbox {
  font-weight: 400;
}

.signin-form .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.signin-form .form-control:focus {
  z-index: 2;
}
.signin-form input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.signin-form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.middle-input {
  margin-bottom: -1px !important;
  border-radius: 0 !important;
}

.center-block {
  min-height: 90vh;
  height: 90vh;
  display: flex;
  align-items: center;
}

.remember-label {
  margin: 0 !important;
}

.signup-link {
  margin-bottom: 1rem !important;
  margin-top: 0.4rem !important;
}

.comments-headline {
  font-weight: 300;
}

.account-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.account-username {
  font-weight: 400;
}