@page "{courseId?}"
@model SchoolProj.Pages.CoursePage

@{
    ViewData["Title"] = "Курс #" + @Model.Course.Id;
}

@{
    Layout = "Shared/_Layout";
}

<section class="jumbotron text-center">
    <div class="container-course">
        <h1>@Model.Course.Name</h1>
    </div>
</section>

<div class="course-block">

    @await Component.InvokeAsync("CourseSingle", @Model.Course)

    <div class="course-comments simple-border">
        <!-- TODO добавить форму создания комментария -->

        @foreach (var comment in @Model.Comments.OrderByDescending(c => c.CreationDate))
        {
            @await Component.InvokeAsync("CommentForCourse", comment)
        }
    </div>
</div>
