@page "{courseId?}"
@model SchoolProj.Pages.CoursePage

@{
    ViewData["Title"] = "Курс #" + @Model.Course.Id;
}

@{
    Layout = "Shared/_Layout";
}

<section class="jumbotron text-center">
    <div class="container-course">
        <h1>@Model.Course.Name</h1>
    </div>
</section>

<div class="course-block">
    <div class="container">

        @await Component.InvokeAsync("CourseSingle", @Model.Course)

        <!-- TODO кнопка купить -->

        <div class="course-comments simple-border">

            <form class="add-comment-form" action="" onsubmit="return false;">
                <textarea id="commentInput" placeholder="Введите комментарий"></textarea>
                <button onclick="addComment()" class="btn btn-primary btn-sm" type="submit">Добавить комментарий</button>
            </form>

            <div id="comments">
                @foreach (var comment in @Model.Comments.OrderByDescending(c => c.CreationDate))
                {
                    @await Component.InvokeAsync("CommentForCourse", comment)
                }
            </div>
        </div>
    
    </div>
</div>
