@page
@using SchoolProj.Models
@model IndexModel
@{
    ViewData["Title"] = "Главная страница";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1>BigBankTheory - твой банк знаний</h1>
        <p class="lead text-muted">Теория - это просто!<br>Начни учиться уже сейчас</p>
        <p>
            <a href="#" class="btn btn-primary btn-lg my-2">Подобрать курс</a>
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            
            @foreach (var course in Model.Courses)
            {
                @await Component.InvokeAsync("CourseIndex", course);
            }

        </div>
    </div>
</div>