@page
@model SchoolProj.Pages.SignIn

@{
    ViewData["Title"] = "Регистрация";
}

@{
    Layout = "Shared/_Layout";
}

<div class="center-block">
    <form class="signin-form simple-border" name="signUp" onsubmit="return false;">
        <h2>Регистрация</h2>
        <label for="inputLogin" class="sr-only">Логин</label>
        <input name="name" type="text" id="inputLogin" class="form-control" placeholder="Логин" required="" autofocus="">
        <label for="inputPassword1" class="sr-only">Пароль</label>
        <input name="password1" type="password" id="inputPassword1" class="form-control" placeholder="Пароль" required="">
        <label for="inputPassword2" class="sr-only">Повторите пароль</label>
        <input name="password2" type="password" id="inputPassword2" class="form-control" placeholder="Повторите пароль" required="">
        <div class="signup-link"><a href="@Url.Page("./SignIn")">Войти</a></div>
        <button name="remember" class="btn btn-lg btn-primary btn-block" type="submit" onclick="signup()">Зарегестрироваться</button>
    </form>
</div>